<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Path to FFMPEG binaries -->
		<add key="ffmpegBinPath" value="F:\\Tools\\ffmpeg-2020\\bin" />
		<!-- Contrast of images -->
		<add key="alpha" value="1,0" />
		<!-- From 1 to 30 (smaller - better)  -->
		<add key="videoQuality" value="6" />
	</appSettings>
</configuration>
